:root {
    --primary_green: #495E57;
    --primary_yellow: #F4CE14;
    --primary_salmon:#EE9972;
    --secondary_salmon: #FBDABB;
    --secondary_white: #edefee;
    --secondary_black:#333333;

    --min-width:  375;
    --mid-width:  600;
    --max-width: 1000;
}

/* reset margin and padding */
* {
    margin: 0 0;
    padding: 0 0;
}

.ll_button {
    background-color: var(--primary_yellow);
    border: none;
    height:20px;
    color: var(--secondary_black);
    border-radius: 40px;
    padding: 0px 20px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.4);
    display:grid;
    align-content: center;
}


.displayTitle {
    font-family: 'Markazi Text', serif;
    font-size:40px;
    padding: 0 0;
    margin: 0 0;
}

.subbTitle {
    font-family: 'Markazi Text', serif;
    font-size:40px;
}
.sectionTitle {
    font-family: 'Karla', sans-serif;
    font-size:20px;
}
.descriptiveItems {
    font-family: 'Karla', sans-serif;
    font-size:18px;
}
.cardTitle {
    font-family: 'Karla', sans-serif;
    font-size:18px;
}
.navFont {
    font-family: 'Karla', sans-serif;
    font-size:16px;
}
.price {
    font-family: 'Karla', sans-serif;
    font-size:16px;
    color: var(--primary_salmon)
}
.testimonial_font {
    font-family: 'Karla', sans-serif;
    font-size:14px;
}
.about_font {
    font-family: 'Karla', sans-serif;
    font-size:14px;
}
/* set default */
body {
    color:var(--secondary_black);
    font-family: 'Markazi Text', serif;
    background-color: white;
}

/****************************************************************/
/* header part */
/****************************************************************/
ul.nav {
    margin:  0px;
    padding: 0px;
    background:var(--secondary_salmon);
    color: var(--secondary_black);
    font-size: 14px;
    display:flex;
    list-style-type: none;
    justify-content:space-around;
    margin:0 0 0 0;

}


.hamburgerContainer {
    color: var(--secondary_black);
    align-self: center;
    font-size:2em;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }


.navItem {

    display:grid;
    height:50px;
    align-items:center;
}

/****************************************************************/
/* Hero Area                                                    */
/****************************************************************/

.heroArea {
    background: var(--primary_green);
    color: var( --secondary_white);
    display: grid;
    grid-template-rows: auto auto;
}

.littleLemonText {
    padding: 60px 10px 20px 10px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 30px 10px 1fr;
    grid-template-areas: 
         "title hbutton"
         "subtitle ."
         "desc desc";
}
.littleLemonTitle {
    align-self:center;
    justify-self: end;
    color:var(--primary_yellow);
    grid-area: title;
}
.littleLemonSubTitle {
    grid-area:subtitle;
    align-self:center;
    justify-self: end;
    color:var(--primary_yellow);

}
.littleLemonDescription {
    padding: 30px 0px 0 50px;
    white-space:normal;
    grid-area:desc;
    align-self:flex-start;
}

.littleLemonImages {
    padding: 20px 10px 20px 10px;
    justify-self:center;
    display:grid;
}

.heroImage {
    width: 90%;
    border-radius: 10px;
    justify-self: center;
}

.hb_container {
    grid-area: hbutton;
    justify-items: center;
    display:grid;
    padding:10px;
}

/*
.littleLemonText {
    grid-column: 2/ span 8;
    grid-row:    2/ span 4;
}
.littleLemonImages {
    grid-column: 2 / span 8;
    grid-row: 5 / span 1

}
*/

/****************************************************************/
/****************************************************************/

.specialArea {
    background:var(--secondary_salmon);
    color: var(--secondary_black);
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-areas: "s_header sb_container"
                         "s_cards   s_cards";
    padding: 0 0 20px 0;
}
.specialHeader {
    grid-area: s_header;
    padding: 20px 10px 0px 30px;
    margin:0px;
    display: grid;
    align-self: center;
    justify-self: start;

}
.sb_container {
    grid-area: sb_container ;
    display:flex;
    align-self: end;
    column-gap: 10px;
    justify-content: center;
}
.cardContainer {
    grid-area: s_cards;
    display: grid;
    justify-self: center;
    width: 80%;
}

.card {
    display:grid;
    padding: 0 0;
    border: var(--secondary_black) solid 1px;
    margin: 10px;
    border-radius: 10px 10px 0 0;
}

.imageContainer {
    width:100%;
    height:100%;
}
.cardImage {
    width:100%;
    height:100%;
    border-radius: 10px 10px 0 0;
}

.nameAndPrice {
    display: flex;
    justify-content:space-between;
}
.description {
    padding: 10px 10px 5px  10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu {
    padding: 5px 0px 10px 10px;
}
.price {
    padding: 0 10px 0 0;
    align-self:center;
}
/****************************************************************/
/****************************************************************/

.testimonyArea {
    background:var(--primary_green);
    color: var(--secondary_white);
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:"t_header tb_container"
                        "t_container t_container";
    padding: 0 0 20px 0;
}
.testimonyHeader {
    grid-area: t_header;
    display:grid;
    padding: 20px 10px 0px 30px;
    margin:0px;
    display:grid;
    align-self: center;
    justify-self: start;
}
.tb_container {
    display:flex;
    grid-area: tb_container ;
    align-self: end;
    column-gap: 10px;
    justify-content: center;
}
.testimonyContainer {
    grid-area: t_container;
    display: grid;
    margin:0;
    width: 80%;
    justify-self: center;
}


.testimony {
    display: grid;
    padding: 10px 10px 10px 10px;
    border:var(--primary_yellow) solid 2px;
    margin: 10px;
    border-radius: 30px 30px 30px 0px;
}

.user {
    display: flex;
    padding: 5px 0px;
    color: var(--primary_salmon)
}
.nickname {
    align-self: end;
    padding: 0px 10px 0px 10px;
}
.rating {
    align-self: end;
}
.rating::before {
    content: " /  "
}
.comment {
    border-top: 1px solid var(--primary_yellow);
    padding: 10px;

}

/****************************************************************/
/****************************************************************/

.aboutArea {
    background:var(--secondary_salmon);
    display: grid;
    grid-template-rows:60px auto;
    padding: 0 0 20px 0;
}

.aboutText {
    padding: 0px 20px 0px 40px;
}
.aboutImages {
    padding: 20px 20px 20px 20px;
}
.aboutImage {
    border-radius: 10px;
}

.aboutHeader {
    display:grid;
    padding: 20px 10px 0px 30px;
    margin:0px;
    display:grid;
    align-self: center;
    justify-self: start;

}
/********************************************************/
/* 
---------------------------------------------------------
                    copyright
----------------+----------------------------------------
　　　Logo       | contact us 
----------------+
　SNS SNS SNS    |

*/
.footerContainer {
    background:var(--secondary_white);
    color: var(--secondary_black);
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-areas: 
       "logo  logo copyr copyr copyr copyr copyr"
       "logo  logo  other  other other other other"
       "sns   sns   other   other other other other";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    column-gap:10px;
}
.copyright {
    grid-area: copyr;
    justify-self: center;
    border-bottom: var(--secondary_black) solid 1px;
}
.logo {
    grid-area: logo;
    display: grid;
    width:100px;
    align-self: end;
}
.sns {
    grid-area:sns;
    display: flex;
    justify-self: start;
    align-content: center;
    justify-content: space-evenly;

}


.snsLink {

    padding: 0 10px 0 10px;
    font-size: 1.5em;

}
.other {
    display:flex;
    flex-wrap:wrap;
    grid-area: other;
    list-style: none;
    align-content: center;
    justify-content: space-evenly;
}
.footerLink {

    padding: 0 20px 0 20px;
    align-self:center;

}


/*********************************************************/
/*********************************************************/
/*********************************************************/

@media screen and (min-width: 600px) {

.cardContainer {
    display:flex;
    font-size:0.8em;
    padding: 0px 10px 20px 10px;
    justify-content:space-between;    
    height: auto ;
}
.card {
    flex: 1;
}

.testimonyContainer {
    display: flex;
    padding: 0 10px 20px 10px;
    justify-content:space-between;
}

.testimony {
    flex: 1;
}


.heroArea {
    display: flex;
}

.littleLemonText {
    padding: 20px 10px 20px 10px;
    flex: 1;

}
.littleLemonImages {
    padding: 20px 10px 20px 10px;
    flex: 2;
}

.aboutImages {
    padding: 20px 20% 20px 20%;
}

};

@media screen and (min-width: 1000px) {

}