$primary_green: #495e57;
$primary_yellow: #f4ce14;
$primary_salmon: #ee9972;
$secondary_salmon: #fbdabb;
$secondary_white: #edefee;
$secondary_black: #333333;

$min-width: 375;
$mid-width: 600;
$max-width: 1000;

* {
  margin: 0px;
  padding: 0px;
}
@mixin displayTitle {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  padding: 0 0;
  margin: 0 0;
}

@mixin subbTitle {
  font-family: "Markazi Text", serif;
  font-size: 40px;
}
@mixin sectionTitle {
  font-family: "Karla", sans-serif;
  font-size: 20px;
}
@mixin descriptive {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}
@mixin cardTitle {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}
@mixin price {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: $primary_salmon;
}
@mixin testimonial_font {
  font-family: "Karla", sans-serif;
  font-size: 14px;
}
@mixin about_font {
  font-family: "Karla", sans-serif;
  font-size: 14px;
}

@mixin sectionArea {
  padding: 20px 5px 30px 10px;
}

@mixin sectionHeader {
  padding: 0px 0px 0px 10px;
}
@mixin cardStyle($borderColor, $cardType) {
  min-width: 220px;
  max-width: 300px;
  margin: 10px;
  border: 1px solid $borderColor;
  display: grid;

  @if $cardType == "testimonial" {
    border-radius: 20px 20px 20px 0;
  } @else if $cardType == "special" {
    border-radius: 10px 10px 10px 10px;
  }
}

@mixin responsive($device) {
  @if $device == "mobile" {
    @media (max-width: 620px) {
      & {
        @content;
      }
    }
  } @else if $device == "tablet" {
    @media (min-width: 621px) and (max-width: 960px) {
      & {
        @content;
      }
    }
  } @else if $device == "desktop" {
    @media (min-width: 961px) {
      & {
        @content;
      }
    }
  }
}
@mixin navMix {
  font-family: "Karla", sans-serif;
  @media screen and (max-width: 321px) {
    font-size: 8px;
    gap: 14px;
    height: 50px;
  }
  @media screen and (min-width: 322px) and (max-width: 361px) {
    font-size: 14px;
    gap: 20px;
    height: 55px;
  }
  @media screen and (min-width: 362px) and (max-width: 400px) {
    font-size: 16px;
    gap: 10px;
    height: 55px;
  }
  @media screen and (min-width: 401px) and (max-width: 531px) {
    font-size: 18px;
    gap: 20px;
    height: 70px;
  }
  @media screen and (min-width: 532px) and (max-width: 641px) {
    font-size: 20px;
    gap: 20px;
    height: 70px;
  }

  @media screen and (min-width: 641px) {
    font-size: 20px;
    gap: 20px;
    height: 80px;
  }
}

@mixin footerMix {
  @media screen and (max-width: 321px) {
    font-size: 8px;
  }
  @media screen and (min-width: 322px) and (max-width: 361px) {
    font-size: 8px;
  }
  @media screen and (min-width: 362px) and (max-width: 400px) {
    font-size: 12px;
    gap: 10px;
    height: 55px;
  }
  @media screen and (min-width: 401px) and (max-width: 460px) {
    font-size: 12px;
    gap: 20px;
    height: 70px;
  }
  @media screen and (min-width: 460px) {
    font-size: 12px;
    gap: 40px;
    height: 80px;
  }
}

/**************************************************/
/* Generic ****************************************/
/**************************************************/
h1 {
  @include displayTitle;
}
h2 {
  @include sectionTitle();
}

.ll_button {
  background-color: $primary_yellow;
  border: none;
  height: 20px;
  color: $secondary_black;
  border-radius: 40px;
  padding: 0px 20px;
  box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.4);
  display: grid;
  align-content: center;
  transition: box-shadow 0.1s ease;
}
.ll_button:active {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.lm_button {
  background-color: $primary_yellow;
  border: none;
  height: 20px;
  color: $secondary_black;
  border-radius: 40px;
  padding: 0px 20px;
  display: grid;
  align-content: center;
  transition: box-shadow 0.1s ease;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1); // 出っ張っている影
}
.lm_button:active {
  box-shadow: inset 4px 4px 6px rgba(9, 9, 9, 0.5); // 引っ込んだ影
}
/**************************************************/
/* Navigation *************************************/
/**************************************************/

.nav {
  display: flex;
  background: $secondary_salmon;
  align-items: center;
  justify-content: center;
  @include navMix();
  .navItem {
    display: flex;
    &:nth-child(1) {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      width: 40%;
    }
    .logo {
      margin: 0 0 0 4px;
      padding: 0;
      width: 100%;
      max-height: 50px;
    }
  }
}
/**************************************************/
/*  Heroエリア関連 *********************************/
/**************************************************/
.hero {
  @include sectionArea();
  background: $primary_green;
  .header {
    @include sectionHeader();
    padding-top: 20px 0px 20px 0px; /* add another 20px */
    display: grid;
    grid-template-areas: "title . button";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    .title {
      grid-area: title;
      color: $primary_yellow;
      display: grid;
      white-space: nowrap;
      h1,
      h2 {
        justify-self: end;
        padding: 0px;
        margin: 0px;
      }
    }
    .button {
      grid-area: button;
    }
  }
  .desc {
    @include descriptive();
    color: $secondary_white;
    padding: 0px 20px 0px 20px;
  }

  .imageContainer {
    padding: 8px 18px 8px 18px;
    img {
      border-radius: 14px;
    }
  }
}
/**************************************************/
/* Special ****************************************/
/**************************************************/

.special {
  @include sectionArea();
  display: grid;
  background: $secondary_salmon;
  color: $secondary_black;
  .header {
    @include sectionHeader();
    display: grid;
    grid-template-areas: "title . button";
    align-items: center;
    .title {
      grid-area: title;
      h1 {
        color: $secondary_black;
      }
    }
    .button {
      grid-area: button;
    }
  }
  .desc {
    @include descriptive();
    padding: 0px 20px 0px 20px;
  }
  .specials {
    padding: 0px 20px 0px 20px;
    @media screen and (max-width: 690px) {
      display: grid;
    }
    @media screen and (min-width: 690px) and (max-width: 1670px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      @include cardStyle($secondary_black, "special");
      justify-self: center;

      img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
      }
      .desc {
        margin: 20px 10px;
      }
      .TitleAndPrice {
        display: flex;
        justify-content: space-between;

        .dishTitle {
          margin-left: 30px;
        }
        .dishPrice {
          margin-right: 30px;
        }
      }
    }
  }
}
/**************************************************/
/* Testimonial ************************************/
/**************************************************/

.testimonial {
  @include sectionArea();
  display: grid;
  background: $primary_green;
  color: $secondary_white;
  .header {
    @include sectionHeader();
    display: grid;
    grid-template-areas: "title . button";
    align-items: center;
    .title {
      grid-area: title;
      h1 {
        color: $secondary_white;
      }
    }
    .button {
      grid-area: button;
    }
  }
  .desc {
    @include descriptive();
    padding: 0px 20px 0px 20px;
  }

  .comments {
    margin: 0 0 50px 0;
    padding: 0px 20px 0px 20px;
    @media screen and (max-width: 780px) {
      display: grid;
    }
    @media screen and (min-width: 780px) and (max-width: 1670px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      @include cardStyle($primary_yellow, "testimonial");
      color: $primary_salmon;
      width: 90%;
      justify-self: center;
      padding: 8px 18px 8px 18px;
      display: grid;
      grid-template-areas:
        "header"
        "comment"
        "user";
      .header {
        grid-area: header;
        .title {
          flex: 1;
          color: $secondary_white;
          margin: 0px 0px 4px 0px;
          font-size: 1.2em;
          display: flex;
          .rating {
            grid-area: rating;
            flex: 1;
            justify-self: center;
          }
          .rating::before {
            content: " /   ";
          }
        }
      }
      .comment {
        grid-area: comment;
        border-top: 1px solid $primary_yellow;
        color: $secondary_white;
        padding: 0 0 0 20px;
      }
      .user {
        height: 3em;
        grid-area: user;
        display: grid;
        grid-template-areas: "avatar nickname date";
        align-items: center;
        .avatar {
          grid-area: avatar;
          margin-left: 4px;
        }
        .nickname {
          grid-area: nickname;
          flex-wrap: nowrap;
          margin-left: 8px;
        }
        .date {
          grid-area: date;
        }
      }
    }
  }
}

.footer {
  padding: 50px 0 0 0;
  @include footerMix();
  color: $secondary_black;
  background: $secondary_white;
  display: grid;
  align-content: end;
  grid-template-areas:
    "links"
    "copyright";
  grid-template-columns: auto;
  padding: 20px 0 0 0;
  .links {
    grid-area: links;
    background: $secondary_white;
    display: grid;
    grid-template-areas: "left right";
    height: 100%;
    align-content: start;
    .left {
      background: $secondary_white;
      grid-area: left;
      display: grid;
      /* grid-template-rows: 1fr 1fr; 異質なものを1frでつないだら幅が強制的に同じになる！！ NG!! */
      .logoContainer {
        padding: 8px 8px 0px 8px;
        .logo {
          align-self: center;
        }
      }
      .sns {
        background: $secondary_white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1em;
        justify-items: center;
        font-size: 1.5em;
        line-height: 1; /* Add this line */
        box-sizing: border-box;

        .facebook {
          height: 100%;
        }
        .twitter {
        }
        .instagram {
        }
      }
    }
    .right {
      background: $secondary_white;
      grid-area: right;
      display: grid;
      align-items: stretch;
      align-content: end;
      .menu {
        background: $secondary_white;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-content: space-evenly;
        justify-content: space-around;
        li {
          white-space: nowrap;
          align-self: center;
        }
      }
    }
  }
  .copyright {
    display: grid;
    height: 40px;
    width: 100%;
    background: $secondary_white;

    grid-area: copyright;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
  }
}

.about {
  background: $primary_green;
  color: $secondary_white;
  @include sectionArea();
  .header {
    @include sectionHeader();
    .title {
    }
  }
  .desc {
    @include descriptive();
  }
  .imgContainer {
    img {
      max-width: 90vw;
      height: auto;
    }
  }
}

.reserve {
  background: $primary_green;
  @include sectionArea();
  margin: 0 0 0px 0;
  .header {
    @include sectionHeader();

    .title {
      color: $primary_yellow;
    }
  }
  .forms {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    margin-top: 30px;
    .must {
      color: red;
    }
    .submit {
      width: 70%;
      justify-content: center;
      display: grid;
      grid-template-areas:
        "date"
        "time"
        "guest"
        "occasion";
      row-gap: 4px;
      @mixin gridStyle {
        display: grid;
        grid-template-areas: "label value";
        grid-template-columns: 90px 1fr;

        .label {
          grid-area: label;
        }

        .value {
          grid-area: value;
        }
      }
      .date {
        grid-area: date;
        @include gridStyle();
      }
      .time {
        grid-area: time;
        @include gridStyle();
      }
      .guest {
        grid-area: guest;
        @include gridStyle();
      }
      .occasion {
        grid-area: occasion;
        @include gridStyle();
      }
    }
    .button {
      margin-top: 20px;
      height: 30px;
    }
    .error {
      height: 60px;
      padding-left: 40px;
    }
  }
}

.conf {
  background: $primary_green;
  @include sectionArea();
  display: grid;
  grid-template-areas:
    "header"
    "card"
    "button";
  grid-template-rows: auto 1fr 1fr;
  .header {
    grid-area: header;
    @include sectionHeader();
    padding-top: 20px 0px 20px 0px; /* add another 20px */
    display: grid;
    align-items: center;
    .title {
      display: inline-block;
      grid-area: title;
      color: $primary_yellow;
      white-space: nowrap;
      h1,
      h2 {
        justify-self: end;
        padding: 0px;
        margin: 0px;
        white-space: nowrap;
      }
    }
  }
  .card {
    grid-area: card;
    @include cardStyle($secondary_white, "special");
    justify-self: center;
    padding: 20px;
    color: $secondary_white;
    display: grid;
    .row {
      display: grid;
      grid-template-areas: "header data";
      grid-template-columns: 10em 1fr;
      .header {
        grid-area: header;
      }
      .value {
        grid-area: data;
        justify-self: flex-end;
      }
    }
  }
  .button {
    grid-area: button;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.confirm-booking {
  background: $primary_green;
  display: grid;
  @include sectionArea();
  grid-template-areas:
    "header"
    "code"
    "card"
    "button";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  .header {
    grid-area: header;
    @include sectionHeader();
    color: $primary_yellow;
    display: grid;
    .title {
      display: inline-block;
      grid-area: title;
      color: $primary_yellow;
      white-space: nowrap;
      h1,
      h2 {
        justify-self: end;
        padding: 0px;
        margin: 0px;
        white-space: nowrap;
      }
    }
  }
  .code {
    display: grid;
    grid-area: code;
    justify-items: center;
    .qr {
      width: 30%;
      max-height: 100px;
      justify-self: center;
    }
    .rid {
      color: $secondary_white;
      margin: 0 0 20px 0;
    }
  }
  .card {
    grid-area: card;
    @include cardStyle($secondary_white, "special");
    justify-self: center;
    padding: 20px;
    color: $secondary_white;
    display: grid;
    .row {
      display: grid;
      grid-template-areas: "header data";
      grid-template-columns: 10em 1fr;
      .header {
        grid-area: header;
      }
      .value {
        grid-area: data;
        justify-self: flex-end;
      }
    }
  }
  .button {
    grid-area: button;
    display: flex;
    justify-content: center;
  }
}

.login {
  height: 500px;
  display: grid;
  .header {
    justify-self: start;
  }
  .main {
    justify-self: center;
    align-self: start;
  }
}
